<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ch">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Metronic Admin Theme #1 | Responsive Bootstrap Tables</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for responsive bootstrap table demos" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/static/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->

        <script src="/static/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
        <script src="/static/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="/static/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
        <script src="/static/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <script type="text/javascript">
            function CurentTime(addtime)
            {
                var now = new Date();
                var year = now.getFullYear();       //年
                var month = now.getMonth() + 1;     //月
                var day = now.getDate();            //日

                var hh = now.getHours(); //时
                var mm = (now.getMinutes() + addtime) % 60;  //分
                if ((now.getMinutes() + addtime) / 60 > 1) {
                    hh += Math.floor((now.getMinutes() + addtime) / 60);
                }
                var clock = year + "-";
                if(month < 10)
                    clock += "0";
                clock += month + "-";
                if(day < 10)
                    clock += "0";
                clock += day + " ";
                if(hh < 10)
                    clock += "0";
                clock += hh + ":";
                if (mm < 10) clock += '0';
                clock += mm;
                return(clock+":00");
            }
            function initTable(url){
                    $('#xTable').dataTable( {
                        "processing": true,
                        "destroy":true,
                         "ajax": {
                             "processing": true,
                             "url":url,
                             "dataSrc": "",
                         },
                         "lengthChange": false,
                         "searching": true,
                         "order": [[ 5, "asc" ]],
                         "columns": [
                                 {"data":'client_ip'},
                                 {"data":'app'},
                                 {"data":'server_ip'},
                                 {"data":'phone'},
                                 {"data":'user'},
                                 {"data":'ctime'},
                             ],
                        "columnDefs": [
                            {
                                "targets": [3],
                                 "data": "phone",
                                 "render": function (data, type, row, meta) { // 返回自定义内容
                                     a = '<div style="width:320px;word-wrap:break-word;">' + data + '</div>';
                                     return a;
                                 }
                            },
                            {
                                "targets": [4],
                                 "data": "user",
                                 "render": function (data, type, row, meta) { // 返回自定义内容
                                     a = '<div style="width:150px;word-wrap:break-word;">' + data + '</div>';
                                     return a;
                                 }
                            }
                        ]
                    });
            }
            $(document).ready(function()
            {
                var now_time=CurentTime(0);
                $('input[name="stime"]').val(now_time);
                $('input[name="etime"]').val(now_time);
                $('#btn_en').click(function () {
                    var xurl="/sas/api?action=en_phone&phone="+$('#phone').val();
                    htmlobj=$.ajax({url:xurl,async:false});
                    $('input[name="en_phone"]').val(htmlobj.responseText);
                });
                $('#btn_hash').click(function () {
                    var xurl="/sas/api?action=hash_phone&phone="+$('#phone').val();
                    htmlobj=$.ajax({url:xurl,async:false});
                    $('input[name="hash_phone"]').val(htmlobj.responseText);
                });
                $('#fuck_btn').click(function () {
                    var phone=$('input[name="en_phone"]').val();
                    var user=$('input[name="en_user"]').val();
                    var stime=$('input[name="stime"]').val();
                    var etime=$('input[name="etime"]').val();
                    var stype=$('select[name="stype"]').val();
                    if ( stime.length<19 || etime.length<19){
                        alert('检索条件不正确，请重新填写！');
                        return;
                    }
                    if(user.length<1 && phone.length<64)
                    {
                        alert('检索条件不正确，请重新填写！');
                        return;
                    }
                    var url="/sas/api?action=index_phone"+"&enphone="+phone+"&stime="+stime+"&etime="+etime+"&type="+stype+"&user="+user;
                    initTable(url);
                });
            });
        </script>
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            {% include "top_menu.html" %}
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                {% include "left_menu.html" %}
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html">态势感知</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>解密日志检索</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END PAGE BAR --
                         END PAGE TITLE-->
                        <h1></h1>

                        <!-- END PAGE HEADER-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert note note-success alert-dismissable" >
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                    <p> 此功能仅供安全部门使用！ </p>
                                </div>
                                <form class="form-inline" role="form">
                                    <div class="row"  style="margin-bottom: 10px">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="输入手机号" id="phone" type="text" width="10px"/>
                                                <button class="btn btn-default" type="button" id="btn_en">加密</button>
                                                <input class="form-control" placeholder="手机号密文" name="en_phone" type="text" width="20px"/>
                                                <button class="btn btn-default" type="button" id="btn_hash">HASH</button>
                                                <input class="form-control" placeholder="手机号HASH" name="hash_phone" type="text" width="20px"/>
                                                <input class="form-control" placeholder="解密用户名" name="en_user" type="text" width="20px"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"  style="margin-bottom: 10px">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label style="width: 60px">开始时间</label>
                                                <div class="input-group date form_datetime form_datetime bs-datetime">
                                                    <input size="16" class="form-control" type="text" name="stime">
                                                    <span class="input-group-addon">
                                                        <button class="btn default date-set" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="padding-left: 20px;width: 80px">结束时间</label>
                                                <div class="input-group date form_datetime form_datetime bs-datetime">
                                                    <input size="16" class="form-control" type="text" name="etime">
                                                    <span class="input-group-addon">
                                                        <button class="btn default date-set" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                <select class="form-control" name="stype">
                                                    <option value="0">内部系统</option>
                                                    <option value="1">前端业务</option>
                                                </select>
                                                <button class="btn btn-default" type="button" id="fuck_btn">搜索</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- BEGIN SAMPLE TABLE PORTLET-->
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-cogs"></i>解密日志检索结果</div>
                                    </div>
                                    <div class="portlet-body flip-scroll">
                                        <table class="table table-bordered table-striped table-condensed flip-content" id="xTable">
                                            <thead class="flip-content">
                                                <tr>
                                                    <th width="13%"> 访问IP </th>
                                                    <th width="20%"> 调用平台 </th>
                                                    <th width="12%"> 平台IP </th>
                                                    <th width="20%"> 手机号 </th>
                                                    <th width="20%"> 用户ID </th>
                                                    <th width="15%">解密时间</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- END SAMPLE TABLE PORTLET-->
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->
            <!-- BEGIN FOOTER -->
            {% include "footer.html" %}
            <!-- END FOOTER -->
        </div>

        <!--[if lt IE 9]>
<script src="/static/global/plugins/respond.min.js"></script>
<script src="/static/global/plugins/excanvas.min.js"></script> 
<script src="/static/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->

    </body>

</html>