<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Metronic Admin Theme #1 | Image Cropping</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for image cropping samples" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
        <link href="/static/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />

        <script type="text/javascript">
            var cur_tb=null;
            function init_table(ruletype) {
                 $('#xTable1').dataTable({
                     "processing": true,
                     "destroy":true,
                     "ajax": {
                         "url": '/waf/api?action=getrules&mod='+ruletype,
                         "dataSrc": ""
                     },
                     "lengthChange": false,
                     "searching": false,
                     "order": [[0, "asc"]],
                     "sZeroRecords": "对不起，查询不到任何相关数据",
                     "columns": [
                         {"data": 'sid'},
                         {"data":"rule"},
                     ],
                     "columnDefs": [
                         {
                             "targets": [0],
                             "render": function (data, type, row, meta) { // 返回自定义内容
                                 if (data.length>140){
                                     return '<div style="width:150px;word-wrap:break-word;">'+data+'</div>';
                                 }else
                                     return data;
                             }
                         },{
                             "targets": [1],
                             "render": function (data, type, row, meta) { // 返回自定义内容
                                 data=JSON.stringify(data);
                                 a = '<div style="width:720px;word-wrap:break-word;">'+data+'</div>';
                                 return a;
                             }
                         },
                         {
                             "targets": [2],
                             "render": function (data, type, row, meta) { // 返回自定义内容
                                 a = '<div><a href="#" class="btn btn-sm red btn-outline" data-toggle=\'modal\' data-target=\'#editModal\' id=btn_edit_rule>编辑</a>';
                                 a += '<button class="btn btn-sm red btn-outline" id=btn_del_rule>删除</button></div>';
                                 return a;
                             }
                         }
                     ],
                     //多语言配置
                     // set the initial value
                     "createdRow": function (nRow, aData, iDataIndex) {
                         //$('td:eq(0)', nRow).html("<span class='row-details row-details-close' data_id='" + aData['id'] + "'></span>&nbsp;" + aData['domain']);
                     }
                 });
             }

            function tab_click(n) {
                cur_tb=n;
                 switch (n) {
                     case 1:
                         init_table('args');
                         break;
                     case 2:
                         init_table('post');
                         break;
                     case 3:
                         init_table('uri');
                         break;
                     case 4:
                         init_table('network');
                         break;
                     case 5:
                         init_table('method');
                         break;
                     case 6:
                         init_table('header');
                         break;
                     case 7:
                         init_table('referer');
                         break;
                     case 8:
                         init_table('useragent');
                         break;
                     case 9:
                         init_table('rewrite');
                         break;
                     case 10:
                         init_table('cookie');
                         break;
                     case 11:
                         init_table('replace');
                         break;
                     case 12:
                         init_table('realIpfrom');
                         break;
                     case 13:
                         init_table('denymsg');
                         break;
                 }
             }


        </script>
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            {% include "top_menu.html" %}
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                {% include "left_menu.html" %}
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html">waf管理</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>公共规则</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END PAGE BAR -->
                        <h1></h1>
                        <!-- END PAGE HEADER-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert note note-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                    <p> 公共规则对所有站点生效，请务必谨慎操作！ </p>
                                </div>
                                <div class="portlet light portlet-fit bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-settings font-red"></i>
                                            <span class="caption-subject font-red sbold uppercase">公共防御规则管理</span>
                                        </div>
                                        <div class="actions">
                                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                <button id="apply_btn" class="btn sbold green" style="margin-right: 10px" > 应用生效
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                    <button id="btn_rule_new" class="btn sbold green" data-toggle='modal'
                                            data-target='#addModal'> 添加规则
                                        <i class="fa fa-plus"></i>
                                    </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tabbable-line boxless margin-bottom-20">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#tab_1" data-toggle="tab" onclick="tab_click(1)"> GET请求规则 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab" onclick="tab_click(2)"> POST请求规则 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab" onclick="tab_click(3)"> URI规则 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab"  onclick="tab_click(4)"> CC规则 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab"  onclick="tab_click(5)"> method规则 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab"  onclick="tab_click(6)"> http头规则 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab"  onclick="tab_click(7)"> referer规则 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab"  onclick="tab_click(8)"> useragent规则 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab"  onclick="tab_click(9)"> rewrite重写规则 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab"  onclick="tab_click(10)"> cookie规则 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab"  onclick="tab_click(11)"> 内容替换规则 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab"  onclick="tab_click(12)"> 真实IP头设置 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1" data-toggle="tab"  onclick="tab_click(13)"> 拒绝显示设置 </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1">
                                                    <table class="table table-bordered table-striped table-condensed flip-content" id="xTable1">
                                                        <thead class="flip-content">
                                                        <tr>
                                                            <th></th>
                                                            <th> 规则内容</th>
                                                            <th width="90px"> 操作</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- END CONTAINER -->
            </div>
            <!-- BEGIN FOOTER -->
            {% include "footer.html" %}
            <!-- END FOOTER -->
        </div>
        <!-- BEGIN QUICK NAV -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        编辑规则
                    </h4>
                </div>
                <form id="editrule_form" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div class="modal-body" style="padding-left: 30px">
                        <div class="form-group">
                            <label class="control-label">规则内容</label>
                            <div>
                                <input name="rule_id" type="hidden" />
                                <textarea class="form-control" rows="3" style="width:98%;height:300px" name="rule_txt"></textarea><br>请以英文,隔开，不可换行，最多20个
                            </div>
                        </div>
                        <div class="alert alert-success" id="add_info" style="display: none">
                            <a href="#" class="close" data-dismiss="alert">
                                &times;
                            </a>
                            <strong>成功！</strong>已经成功修改规则。
                        </div>
                        <div class="alert alert-danger" id="add_error" style="display: none">
                            <a href="#" class="close" data-dismiss="alert">
                                &times;
                            </a>
                            <strong>错误！</strong>检查你的输入后重试。
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="form_edit_btn">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
    <!-- /.modal -->
            </div>
        </div>
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加规则
                    </h4>
                </div>
                <form id="addrule_form" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div class="modal-body" style="padding-left: 30px">
                        <div class="form-group">
                            <input class="form-control" placeholder="输入域名或IP" name="input_rule_id" type="text" width="30px"/></br>
                            <label class="control-label">规则内容</label>
                            <div>
                                <textarea class="form-control" rows="3" style="width:98%;height:300px" name="rule_txt1"></textarea><br>请以英文,隔开，不可换行，最多20个
                            </div>
                        </div>
                        <div class="alert alert-success" id="add_info" style="display: none">
                            <a href="#" class="close" data-dismiss="alert">
                                &times;
                            </a>
                            <strong>成功！</strong>已经成功添加规则。
                        </div>
                        <div class="alert alert-danger" id="add_error" style="display: none">
                            <a href="#" class="close" data-dismiss="alert">
                                &times;
                            </a>
                            <strong>错误！</strong>检查你的输入后重试。
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="form_add_btn">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
    <!-- /.modal -->
            </div>
        </div>

        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
<script src="/static/global/plugins/respond.min.js"></script>
<script src="/static/global/plugins/excanvas.min.js"></script> 
<script src="/static/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="/static/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/static/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="/static/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <script>
            $(document).ready(function()
            {
                tab_click(1);
                function id2mod(){
                    switch (cur_tb) {
                        case 1:
                            return 'args';
                        case 2:
                            return ('post');
                            break;
                        case 3:
                            return ('uri');
                            break;
                        case 4:
                            return ('network');
                            break;
                        case 5:
                            return ('host_method');
                            break;
                        case 6:
                            return ('header');
                            break;
                        case 7:
                            return ('referer');
                            break;
                        case 8:
                            return ('useragent');
                            break;
                        case 9:
                            return ('rewrite');
                            break;
                        case 10:
                            return ('cookie');
                            break;
                        case 11:
                            return ('replace');
                            break;
                        case 12:
                            return ('realIpFrom');
                            break;
                        case 13:
                            return ('denyMsg');
                            break;
                    }
                }
                $('#xTable1 tbody').on( 'click', '#btn_edit_rule', function () {
                    var cur_row=$(this).parents('tr');
                    var cur_row_data=cur_row.find("td")[1].innerHTML;
                    var cur_row_id=cur_row.find("td")[0].innerHTML;
                    var st=cur_row_data.indexOf('{');
                    var et=cur_row_data.lastIndexOf('}')+1;
                    cur_row_data=cur_row_data.substring(st,et);
                    $('input[name="rule_id"]').val(cur_row_id);
                    $('textarea[name="rule_txt"]').val(cur_row_data);
                } );
                $('#xTable1 tbody').on( 'click', '#btn_del_rule', function () {
                    var cur_row=$(this).parents('tr');
                    var cur_row_id=cur_row.find("td")[0].innerHTML;
                    var xurl="/waf/api?action=delrule&type="+id2mod()+"&rule_id="+cur_row_id;
                    htmlobj=$.ajax({url:xurl,async:false});
                    alert(htmlobj.responseText);
                    $('#xTable1').DataTable().ajax.reload();
                });
                $('#form_edit_btn').click(function () {
                    var AjaxURL = "/waf/api?action=editrule&type="+id2mod();
                    $.ajax({
                        type: "POST",
                        dataType: "html",
                        url: AjaxURL,
                        data: $('#editrule_form').serialize(),
                        success: function (data) {
                            //var result = data;
                            alert(data);
                            $('#xTable1').DataTable().ajax.reload();
                        },
                        error: function (data) {
                            alert("error:" + data.responseText);
                        }
                    });
                });
                $('#btn_rule_new').click(function () {
                    if(id2mod()!='realIpFrom'&&id2mod()!='denyMsg')
                    {
                        $('input[name="input_rule_id"]').hide();
                    }else
                        $('input[name="input_rule_id"]').show();
                });
                $('#form_add_btn').click(function () {
                    var AjaxURL = "/waf/api?action=addrule&type="+id2mod();
                    $.ajax({
                        type: "POST",
                        dataType: "html",
                        url: AjaxURL,
                        data: $('#addrule_form').serialize(),
                        success: function (data) {
                            alert(data);
                            $('#xTable1').DataTable().ajax.reload();
                        },
                        error: function (data) {
                            alert("error:" + data.responseText);
                        }
                    });
                });
                $('#apply_btn').click(function () {
                    var xurl="/waf/api?action=reloadnginx";
                    htmlobj=$.ajax({url:xurl,async:false});
                    alert(htmlobj.responseText);
                })
            })
        </script>
    </body>

</html>